* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#wrapper {
    padding: 0 20%;
    background-color: rgb(221, 181, 0);
}



/* -----------------HEADER---------------------- */
header {
    margin-bottom: -4px;
    background-color: aliceblue;
}

.head-content {
    display: block;
    text-align: center;
    background-color: rgb(85, 152, 252);
    color: aliceblue;
    padding: 0.25rem;
    font-size: 2rem;
}


/* -----------------MAIN---------------------- */

main {
    
    padding-bottom: 3.5rem;
    background-color: aliceblue;
}



.img-simp {
    width: 100%;
}

/* -----------------NAV---------------------- */

nav ul {
    width: 100%;
    height: auto;
    background-color: rgb(83, 155, 221);
    padding: 20px 30px 20px 30px;
    color: aliceblue;
    list-style: none;
    text-align: center;
}

nav{
    border-bottom: dashed 2px rgb(2, 2, 184);
}

li{
    display: inline;
    margin-right: 2rem;
}

.acceuil {
    padding: 0.2rem;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}

/* -----------------MAIN-CONTENT---------------------- */

.main-content{
    display: grid;
    padding: 2%;
    grid-template-columns: repeat(2, 1fr);
}
.center-main {
    display:inline;
    width: 145%;
    text-align: justify;
    padding-right: 10%;
}

.text-center{
    margin-right: 2%;
}
.title-main {
    color: rgb(221, 181, 0);
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}



.figu-img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 31.9%;
    height: 300px;
    margin-top: 2%;
    overflow: hidden;
}

.img-mov{
    width: 14.8rem;
    border: solid rgb(143, 143, 143) 1px;
    margin-top: 20px;
}

.right-main{
    display: grid;
    width: auto;
    max-width: 300px;
    min-width: 200px;
    float: right;
    max-height: 500px;
    margin-right: 0;
    margin-left: auto;
    background-color: rgb(83, 155, 221);
    margin-top: 50px;
    padding: 5%;
    color: aliceblue;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0px);
    }
  }

.right-main:hover {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
    transition: all 0.4s ease-in-out;
    animation-play-state: paused;
}


.img-matt {
    margin : 0 10%;    
    width: 80%;
    border-color: aliceblue;
    border: solid 1px;
}

.h2-right-content {
    text-align: center;
    padding: 10px;
}

.p-right-content {
    text-align: justify;
}



/* -----------------FOOTER---------------------- */

footer {
    text-align: center;
    font-weight: 700;
    font-size: 1.7rem;
    padding: 0.4rem;
    background-color: rgb(17, 70, 184);
}

.footer {
    text-align: center;
    background-color: rgb(17, 70, 184);
    color: aliceblue;
}


/* -----------------RESPONSIVE-1620---------------------- */

  @media only screen and (max-width: 1620px) {

  
    .center-main {
        display:inline;
        width: 145%;
        text-align: justify;
        padding-right: 10%;
    }
    
    .text-center{
        margin-right: 2%;
    }
    .title-main {
        color: rgb(221, 181, 0);
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    
    
    
    .figu-img {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 31.9%;
        height: 300px;
        margin-top: 2%;
        overflow: hidden;
    }
    
    .img-mov{
        width: 14.8rem;
        border: solid rgb(143, 143, 143) 1px;
        margin-top: 20px;
    }
    
    .right-main{
        display: block;
        width: auto;
        max-width: 250px;
        min-width: none;
        max-height: 450px;
        float: right;
        margin-right: 0;
        margin-left: auto;
        background-color: rgb(83, 155, 221);
        margin-top: 50px;
        padding: 5%;
        color: aliceblue;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
  }

/* -----------------RESPONSIVE-1340---------------------- */

  @media only screen and (max-width: 1340px) {

  
    .center-main {
        display:inline;
        width: 135%;
        text-align: justify;
        padding-right: 10%;
    }
}

/* -----------------RESPONSIVE-1180.---------------------- */

    @media only screen and (max-width: 1180px) {

  
        .center-main {
            display:inline;
            width: 125%;
            text-align: justify;
            padding-right: 10%;
        }
    }

/* -----------------RESPONSIVE-1025---------------------- */

  @media only screen and (max-width: 1025px) {
      #wrapper {
          margin: auto;
          padding: 0;
          background-color: lightblue;
        }
        
        .main-content {
            display: inline-block
        }
        
        .title-main {
            text-align: center;
        color: rgb(221, 181, 0);
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    
    .center-main {
        display: block;
        width: auto;
        text-align: justify;
        margin-top: 50px;
        padding: 0 5%;
    }
    
    
    .img-mov{
        max-width: 235px;
      width: auto;
      height: auto;
      margin-top: 20px;
    }
    
    
    .figu-img{
            overflow: hidden;
        
    }
    
    .right-main{
        display: block;
        float: none;
        min-width: 100%;
        max-height: 350px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* -----------------RESPONSIVE-820---------------------- */

@media only screen and (max-width: 820px) {
    #wrapper {
        margin: auto;
        padding: 0;
        background-color: lightblue;
  }
  
  
  
  .title-main {
      text-align: center;
      color: rgb(221, 181, 0);
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 1.5rem;
  }
  
  .center-main {
      display: block;
      width: auto;
      text-align: justify;
      margin-top: 50px;
      padding: 0 5%;
  }
  
  
  .img-mov{
    max-width: 235px;
      width: auto;
      height: auto;
      margin-top: 20px;
  }
  
  .figu-img{
      
      height: 20%px;
      overflow: hidden;
  }

  .right-main{
      display: block;
      float: none;
      min-width: 100%;
      max-height: none;
      margin-left: auto;
      margin-right: auto;
  }
}

/* -----------------RESPONSIVE-500---------------------- */

    @media only screen and (max-width: 500px) {
        #wrapper {
            margin: auto;
            padding: 0;
            background-color: lightblue;
        }
        
        .main-content {
            display: inline-block
        }
        
        .title-main {
            text-align: center;
            color: rgb(221, 181, 0);
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 1.5rem;
        }
        
        .center-main {
            display: block;
            width: auto;
            text-align: justify;
            margin-top: 50px;
            padding: 0 5%;
        }
    
        
        .img-mov{
            width:  135px;
            margin-top: 20px;
        }

        .figu-img{
            max-height: 200px;
        }

        .right-main{
            max-height: none;
        }
    }